<div class="contents row" >
  <b><%= @nickname %>'s message list</b>
  <% @messages.each do |message| %>
    <%= render partial: "messages/message", locals: { message: message } %>
  <% end %>
  <%= paginate(@messages) %>
</div>